body {
    font-family: 'Cabin Sketch', cursive;
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

.index-header {
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    color: rgb(17, 85, 114);
    text-shadow: 7px 7px rgb(57, 124, 153);
}

.remaining {
    font-size: 15px;
}

.score {
    color: rgb(228, 32, 32);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.game-header {
    letter-spacing: .7em;
    font-size: 60px;
    text-shadow: 3px 3px #024A68;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
    color: #0772A1;
}

.inline-head, p{
    display: inline;  
    padding-left: 10px;  

}
.home {
    font-family: 'Cabin Sketch', cursive; 
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    background-color: #3ba3d0;
    color: white;
}

.home:hover {
    background-color: #024A68;
}

a {
    text-decoration: none;
    color: white;
}

.copyright {
    padding: 10px;
    font-size: 12px;
    text-align: right;
}
/*game board*/

.game-board {
    width: 828px;
    height: 480px;
    display: block;
    float: left;   
}

.images {
    text-decoration: underline;
    width: 200px;
    height  : 455px;
    display: block;
    float: left;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.images-search {
    width: 80px;
    height: 80px;
    padding: 5px;
    display: block;
    margin: 0 auto;

}

img {
    width: 65px;
    height: 65px;
    
}

.cell {
    width: 65px;
    height: 65px;
    float: left;
    margin: 1px;
    border: 1px solid black;
}

.cell:hover {
    background-color: #98d2eb;
}

/* .hint {

} */

/*hidden*/

.new-game-lose, .new-game-win {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: rgb(255, 255, 255);
    font-size: 80px;
    color: #024A68;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    border: 4px solid black;
    margin: 0;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 20px;
    background-color:#3ba3d0;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
}

.winner .new-game-win, .winner .button{
    opacity: 0.95;
    pointer-events: all;
}

.game-over .new-game-lose, .game-over .button{
    opacity: 0.95;
    pointer-events: all;
}

.instruction-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 2;
    color: #024A68;
    text-align: left;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    border: 4px solid black;
    margin: 0;
}

.instruction-list {
    margin: 0;
}

.instruction-show .instruction-pop {
    opacity: 1;
    pointer-events: all;
}