body {
    font-family: 'Cabin Sketch', cursive;
    margin: auto;
    max-width: 1200px;
}

.index-header {
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    color: rgb(17, 85, 114);
    text-shadow: 7px 7px rgb(57, 124, 153);
}

.game-header {
    letter-spacing: .7em;
    font-size: 50px;
    text-shadow: 3px 3px #024A68;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;

    color: #0772A1;
}

.home {
    font-family: 'Cabin Sketch', cursive; 
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    background-color: #3ba3d0;
    color: white;
}

.home:hover {
    background-color: #024A68;
}

a {
    text-decoration: none;
    color: white;
}

.copyright {
    padding: 10px;
    font-size: 12px;
    text-align: right;
}
/*game board*/

.game-board {
    width: 890px;
    height: 477px;
    display: block;
    float: left;    
}

.images {
    text-decoration: underline;
    width: 300px;
    height  : 455px;
    display: block;
    float: left;
    color: #0772A1;
    margin: 0 auto;
    text-align: center;
}


.cell {
    width: 65px;
    height: 65px;
    border: 1px solid black;
    float: left;
    margin: 0.6px;
}

.cell:hover {
    background-color: #98d2eb;
}


/*hidden*/

.new-game {
    height: 300px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;

}
